.panel-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.emails-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.emails-control .add-more-link{
    width: 100%;
}
.phone-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phone-control .add-more-link{
    width: 100%;
}

.form-group.text, .form-group.lookup, .form-group.phone, .form-group.email{
    width: calc(50% - 20px);
}

.form-group.price, .form-group.select, .form-group.date{
    width: calc(100%/3 - 20px);
}

.currency-code {
    display: none;
}

.kanban .table {
    height: calc(100% + 10px);
}
.kanban .search-filter {
    display: none;
}
.kanban .filter-right {
    margin-top: -50px;
}
.viewport-height {
    height: calc(100vh - 200px);
}
.lead-content-left .custom-attribute-view .attribute-value-row .label {
    width: 90px;
}
.lead-content-left .custom-attribute-view .attribute-value-row .value {
    width: calc(100% - 90px);
    overflow: hidden;
}
.email-blue-icon {
    background-image: url(../vendor/webkul/admin/assets/images/email-blue-icon.svg);
}

.grid-container>.tabs-container>.pill.tabs-left-container>.tabs>ul {
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 1260px;
    padding-bottom: 10px;
}
